# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
logs/
*.log

# MLflow
mlruns/

# Data
data/interim/
data/processed/

# Models
artifacts/
*.pkl
*.joblib

# OS
.DS_Store
Thumbs.db